@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&display=swap');

body {font-family: "Bungee Tint", sans-serif;
    background-color: rgb(127, 255, 0, 0.4);
    line-height: 30px;
}
h1 {color: black;

text-align: center;}
p {color: #374709;
font-weight: 500;
font-size: 25px;}
img {float: right;
}

header{background-image:  url(https://i.postimg.cc/zf5D0sK7/nature.png);
margin-left: 15%;
padding: 10px;
height: 250px;
background-repeat: no-repeat;}

.logo{border-top-right-radius: 25px;
float: left;
margin: 10px;}
