@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&display=swap');

body {font-family: "Bungee Tint", sans-serif;
    background-color: chartreuse;
}
h1 {color: #217074;}
p {color: #374709;}
img {float: right;}
